:root {
    --theme-color: #2996f3;
    --theme-color-secondary: #2F303A;
    --text-primary: #212121;
    --text-secondary: #757575;
    --text-secondary-lighter: #ffffff;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--primary-font), sans-serif;
    color: var(--text-primary);
    margin: auto;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}


/*=======header-footer styles================*/

header {
    border-bottom: 1px rgba(236, 236, 236, 1);
}

.navbar {
    margin-left: 93px;
}

.common-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    color: var(--theme-color);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.studioword {
    color: #000;
}

.nav-links {
    display: flex;
}

.nav-links .nav-li+.nav-li {
    margin-left: 50px;
}

.nav-links .nav-item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-links .nav-item.current {
    color: var(--theme-color);
}

.nav-links .nav-item:hover,
.nav-links .nav-item:focus {
    color: #2996f3;
}

.contact-box-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact-box-list li+li {
    margin-left: 50px;
}

.icon-mail,
.icon-phone {
    display: block;
    margin-right: 10px;
    fill: var(--text-secondary);
}

.contact-box-item:hover svg {
    fill: var(--theme-color);
}

. address {
    font-style: normal;
    line-height: 9px;
}

.phys-adress {
    color: var(--text-secondary-lighter);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contact-box-item {
    display: flex;
}

.contact-box-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-box-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    ;
}

.contact-box-mail:hover,
.contact-box-mail:focus {
    color: var(--theme-color);
}

.contact-box-phone:hover,
.contact-box-phone:focus {
    color: var(--theme-color);
}

.mail-footer,
.phone-footer {
    display: flex;
    justify-content: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.studiowordfooter {
    color: var(--text-secondary-lighter);
    font-style: var(--secondary-font);
}

.footer-section {
    background-color: var(--theme-color-secondary);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.container .social-footer {
    margin-left: 70px;
}

.social-header-footer {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-secondary-lighter);
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer {
    display: flex;
}

.footer-social-item:hover,
.footer-social-item:hover:focus {
    background-color: var(--theme-color);
}


/*==========header-footer style end===============*/


/* ===================Buttons style start======================= */

.buttons {
    background-color: #F5F4FA;
    border: none;
    color: #212121;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.button-first {
    background-color: var(--theme-color);
    color: var(--text-secondary-lighter)
}

.buttons:hover,
.buttons:focus {
    background-color: rgba(24, 140, 232, 1);
    color: var(--text-secondary-lighter);
}


/* =======================Buttons style end================= */


/* ********************************************************************** */


/*========== Main style start =====================*/

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #000000;
    background-position: center;
    background-color: rgba(196, 196, 196, 1);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/images_main/heroimage.jpg);
}

.hero-container {
    position: relative;
}


/*-------------------------------modal-----------------------------*/

.thumb-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1600px;
    height: 1024px;
    rgba(0, 0, 0, 0.2);
}

.data-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.data-modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    border: none;
    border-radius: 50%;
}


/*-------------------------------modal end-----------------------------*/

.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    color: var(--text-secondary-lighter);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-1 {
    display: block;
    font-weight: 700;
    background-color: var(--theme-color);
    color: var(--text-secondary-lighter);
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.button-1:hover,
.button-1:focus {
    background-color: #098af3;
}

.advantages-list-item .item {
    width: 270px;
}

.advantages-list-item {
    display: flex;
    flex-wrap: wrap;
}

.advantages-list-item li+li {
    margin-left: 30px;
}

.advantage-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-list-item h3 {
    color: var(--text-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages-list-item p {
    color: var(--text-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


/* .icon-adv {
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
} */


/* .icon-back {
    height: 120px;
    width: 270px;
    background-color: rgba(245, 244, 250, 1);
}

.icon-back-c {
    height: 120px;
    width: 270px;
    background-color: rgba(255, 255, 255, 1)
}
 */

.antenna {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--text-secondary-lighter);
    margin-bottom: 30px;
}

.service-list {
    display: flex;
}

.service-list .item+.item {
    margin-left: 30px;
}

.services-description-title {
    color: var(--text-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-header {
    margin-bottom: 50px;
    color: var(--text-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.staff-members-list {
    display: flex;
    justify-content: center;
}

.staff-members-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff-members-list .item+.item {
    margin-left: 30px;
}

.staff-members-list p {
    color: var(--text-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    ;
}

.staff-member {
    color: var(--text-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.member-name {
    padding: 30px 0px 30px;
    background-color: var(--text-secondary-lighter);
}

.staff-social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 0;
}

.staff-social-item:first-child {
    margin-left: 0;
}

.staff-social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: var(--text-secondary-lighter);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.staff-social-item:hover {
    background-color: var(--theme-color);
}

.staff-social-item:hover svg {
    fill: rgba(255, 255, 255, 1);
}

.icon-social {
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1)
}

.icon-social-footer {
    width: 20px;
    height: 20px;
    fill: white
}

.customers-section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.customers-header {
    margin-bottom: 50px;
    color: var(--text-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.customers-list {
    display: flex;
    justify-content: center;
}

.customers-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.customers-list .item:not(:last-child) {
    margin-right: 30px;
}

.item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.logo {
    fill: #AFB1B8;
}

.customers-list .item:hover {
    border-color: var(--theme-color);
    cursor: pointer;
}

.customers-list .item:hover svg {
    fill: var(--theme-color);
}


/*========== Main style end =====================*/


/* ============Portfolio style start ============*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list .item+.item {
    margin-left: 8px;
}

.item {
    border-radius: 4px;
}

.filter-list .buttons:hover,
.filter-list .buttons:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-example-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-example-list .item:nth-child(3n) {
    margin-right: 0;
}

.work-example-list .item {
    width: 370px;
    margin-right: 30px;
}

.work-example-list .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.work-example-list a>div>h3 {
    margin-bottom: 4px;
    font-family: var(--primary-font), sans-serif;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-example-list a>div>p {
    color: var(--text-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.work-example-name {
    padding: 20px 24px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-radius: 0px 0px 4px 4px;
}

.work-example-link {
    display: block;
    height: 100%;
}

.work-example-link :hover,
.work-example-link :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}